huggingface_hub
langchain
pypdf
PyMuPDF
python-dotenv
langchain-community
langchain_openai
rank_bm25
faiss-cpu
langchain-ollama
ollama
deepeval
langchain_text_splitters
langchain-huggingface
sentence-transformers
bs4
langchain_chroma
langchain_experimental
rank_bm25
spacy
nltk
matplotlib
ddgs